# Dependency directories
node_modules/
jspm_packages/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
lib-cov
coverage
*.lcov

# Build outputs
dist/
tmp/
out/
build/
.tsbuildinfo

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
